@import 'variables';

.Header {
  width: 90%;
  margin: auto;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 150px;
  border-bottom: 1px solid $lighter-grey;
  margin-bottom: 3rem;
  
  h1 {
    margin: 0;
  }

  a.logo {
    position: relative;
    top: .3rem;

    img {
      width: 200px;
    }
  }

  .links {
    width: 100%;
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
  
    button {
      text-decoration: none;
      padding: 0;
      border: none;
      outline: none;
      color: $font-grey;
      font-size: $font-size;
      line-height: 30px;
      font-weight: $font-weight;
      cursor: pointer;
    }
  }
}